.App {
  display: flex;
  flex-direction: column;
  background-color: #121213;
  min-height: 100vh;
  color: white;

}
.App-header {
  font-family: 'nyt-karnakcondensed';
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  pointer-events: none;
  border-bottom: 1px solid #3a3a3d;
}

.Box {
  display: block;
  width: 62px;
  height: 62px;
  border: 2px solid #3a3a3d;
  margin: 3px 3px 4px;
  background-color: #121213;
  font-size: 30px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.RowOfBoxes{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.GridOfBoxes {
  margin-top: 200px;
}